body {
  background-color: lemonchiffon;
}

h1 {
  font-family: 'Indie Flower', cursive;
  text-align: right;
  margin-right: 30px;
  font-size: 50px;
}

p {
  margin-top: 70px;
  margin-left: 20px;
  margin-right:20px;
  font-family: Helvetica;
  line-height: 1.4em;
}

.main_container{
  padding-top:100px;
  padding-left: 500px;
}

.container {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-right:20px;

}

 .base {
	width: 100px;
	height: 10px;
	background: black;
}

.small {
  width: 40px;
  height: 40px;
  background: red;
  margin-left:30px;
}

.medium {
  width: 70px;
 	height: 70px;
 	background: orange;
  margin-left: 15px;
}

.large {
  width: 100px;
 	height:100px;
 	background: blue;
}

.highlight {
  border-style: solid;
  border-color:black;
  border-width: thick;
}
